* {
    background-color: black;
    color: white;
    font-family: verdana;
    text-align: center;
    margin: 1%;
    padding: 1%;
    scroll-behavior: smooth;
}
body {
    border: 1px solid grey;
    border-radius: 10px;
    max-width: 500px;
    min-width: 300px;
    margin: auto;
    padding: 2% 0%;
}
section {
    border: 1px solid grey;
    margin: 2% 5%;
    padding: 0%;
}
h1 {
    border: none;
    font-size: 200%;
    margin: 0%;
    padding: 5%;
}
h2 {
    border: 1px solid grey;
    margin: 1%;
    padding: 5%;
    font-size: 150%;
}
p {
    border: none;
    margin: 1%;
    padding: 1%;
    text-align: left;
    font-size: 90%;
    height: auto;
}
.dedication {
    border: 1px solid grey;
    padding: 10%;
}
.dedication-text {
    border: none;
    margin: 0% 10% 0% 10%;
    padding: 5%;
    font-weight: bold;
}
.quotation {
    border: 1px solid grey;
    margin: 0% 0% 0% 0%;
    padding: 5%;
}
.quotation-text {
    border: none;
    margin: 0%;
    padding: 5%;
    text-align: center;
}
ul {
    border: none;
    margin: 1%;
    padding: 0%;
    list-style-type: none;
}
li {
    border: 1px solid grey;
    margin: 1% 0%;
    padding: 2% 2%;
    text-align: left;
    font-size: 100%;
}
li>a {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}
li>a:visited {
    color: white;
}
li>a:hover {
    color: dimgrey;
    text-decoration: underline;
}
li>a:active {
    color: white;
}
.intro-text {
    border: 1px solid grey;
}
.chapters {
    border: none;
    margin: 0%;
    padding: 0%;
}
.chapter {
    border: 1px solid grey;
    margin: 1%;
    padding: 0%;
    height: auto;
}
.chapter-title {
    border: none;
    margin: 0%;
    padding: 4%;
    cursor: pointer;
    width: 100%;
    text-align: right;
    font-size: 125%;
    font-weight: bold;
}
.active, .chapter-title:hover {
    background-color: dimgrey;
}
.chapter-content {
    border: none;
    margin: 0% 0%;
    padding: 0% 1%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.conclusion-text {
    border: 1px solid grey;
}